<table class="table table-bordered table-striped formLayout m0">
	<tr>
		<td>学号:</td>
		<td>$!{studentXueye.xuehao}</td>
		<td>姓名:</td>
		<td>$!{studentXueye.name}</td>
	</tr>
	<tr>
		<td>cet4:</td>
		<td>$!{studentXueye.cet4}</td>
		<td>三笔字:</td>
		<td>$!{studentXueye.sanbizi}</td>
	</tr>
	<tr>
		<td>普通话:</td>
		<td>$!{studentXueye.putonghua}</td>
		<td>更新时间:</td>
		<td>$!{studentXueye.updateTime}</td>
	</tr>
</table>
