<form name="studentChengjiUpdateForm" action="/studentChengji/save" method="POST" data-resultType="JSON">
	<table class="table table-bordered table-striped formLayout m0">
		<tr>
			<td>学号:</td>
			<td><input type="text" name="xuehao" value="$!{studentChengjiVO.xuehao}" placeholder="xuehao" readonly/></td>
			<td>姓名:</td>
			<td><input type="text" name="name" value="$!{studentChengjiVO.name}" placeholder="姓名"/></td>
		</tr>
		<tr>
			<td>学期:</td>
			<td><input type="text" name="xueqi" value="$!{studentChengjiVO.xueqi}" placeholder="学期"/></td>
			<td>专业成绩排名:</td>
			<td><input type="text" name="zhuanyePaiming" value="$!{studentChengjiVO.zhuanyePaiming}" placeholder="专业成绩排名"/></td>
		</tr>
		<tr>
			<td>综合成绩排名:</td>
			<td><input type="text" name="zonghePaiming" value="$!{studentChengjiVO.zonghePaiming}" placeholder="综合成绩排名"/></td>
			<td>补考科目:</td>
			<td><input type="text" name="bukaokemu" value="$!{studentChengjiVO.bukaokemu}" placeholder="补考科目"/></td>
		</tr>
		<tr>
			<td>id:</td>
			<td><input type="text" name="id" value="$!{studentChengjiVO.id}" placeholder="id" readonly/></td>
		</tr>
		<!--<tr>
			<td>更新时间:</td>
			<td colspan="3"><input type="text" name="updateTime" value="$!{studentChengjiVO.updateTime}" placeholder="更新时间"/></td>
		</tr>-->
	</table>
</form>
<div class="bottomBar">
	<button class="btn btn-primary" onclick="$('form[name=studentChengjiUpdateForm]').submit()">保存更改</button>
</div>