<form name="studentRemarkUpdateForm" action="/studentRemark/save" method="POST" data-resultType="JSON">
	<table class="table table-bordered table-striped formLayout m0">
		<tr>
			<td><input type="hidden" name="id" value="$!{studentRemark.id}" placeholder="id" readonly/></td>
			<td><input type="hidden" name="studentId" value="$!{studentRemark.studentId}" placeholder="studentId"/></td>
		</tr>
		<tr>
			<td>学号:</td>
			<td><input type="text" name="xuehao" value="$!{studentRemark.xuehao}" placeholder="学号"/></td>
			<td>姓名:</td>
			<td><input type="text" name="name" value="$!{studentRemark.name}" placeholder="姓名"/></td>
		</tr>
		<tr>
			<td>学期:</td>
			<td><input type="text" name="xueqi" value="$!{studentRemark.xueqi}" placeholder="学期"/></td>
			<td>备注时间:</td>
			<td><input type="text" maxlength="10" name="remarkTime" value="$!{studentRemark.remarkTime}" placeholder="YYYY-MM-DD HH:mm:ss"/></td>
		</tr>
		<tr>
			<td>备注:</td>
			<td colspan="3" align="left" valign="top"><input type="text" maxlength="200" style="width:550px; height:100px;" name="remark" value="$!{studentRemark.remark}" placeholder="备注（200字）"/></td>
			
			<!--<input type="text" style="width:540px; height:200px;" name="remark" value="$!{studentRemark.remark}" placeholder="备注"/></td>-->
			<!--<td>更新时间:</td>
			<td><input type="text" name="updateTime" value="$!{studentRemark.updateTime}" placeholder="更新时间"/></td>-->
		</tr>
	</table>
</form>
<div class="bottomBar">
	<button class="btn btn-primary" onclick="$('form[name=studentRemarkUpdateForm]').submit()">保存更改</button>
</div>