<DIV id="navBar" title="学生评奖信息">
	<li><a href="#springUrl('')/">首页</a><span class="divider">/</span></li>
	<li class="active">学生评奖信息</li>
</DIV>
<form class="well form-search" name="studentPingjiangListForm" action="/studentPingjiang/studentPingjiangSearch" method="POST">
	<!-- 智能分页与排序 -->
	<input type="hidden" name="currentPage" value="$!{page.currentPage}"/>
	<input type="hidden" name="pageSize" value="$!{page.pageSize}"/>
	<input type="hidden" name="orderField" value="$!{studentPingjiang.orderField}"/>
	<input type="hidden" name="orderFieldType" value="$!{studentPingjiang.orderFieldType}"/>
	<!-- 查询条件 -->
	<input class="span2" type="text" name="xuehao" value="$!{studentPingjiang.xuehao}" placeholder="学号"/>
	<input class="span2" type="text" name="name" value="$!{studentPingjiang.name}" placeholder="姓名"/>
	<!--<input class="span2" type="text" name="studentId" value="$!{studentPingjiang.studentId}" placeholder="学生编号"/>-->
	<input class="span2" type="text" name="xueqi" value="$!{studentPingjiang.xueqi}" placeholder="学期"/>
	<input class="span2" type="text" name="banji" value="$!{studentPingjiang.banji}" placeholder="班级"/>
	<input class="span2" type="text" name="jiangxuejin" value="$!{studentPingjiang.jiangxuejin}" placeholder="奖学金"/>
	<input class="span2" type="text" name="danxiangjiangxuejin" value="$!{studentPingjiang.danxiangjiangxuejin}" placeholder="单项奖学金"/>
	<input class="span2" type="text" name="xueyou" value="$!{studentPingjiang.xueyou}" placeholder="学优"/>
	<input class="span2" type="text" name="tuanyou" value="$!{studentPingjiang.tuanyou}" placeholder="团优"/>
	<input class="span2" type="text" name="yxdxbys" value="$!{studentPingjiang.yxdxbys}" placeholder="优秀大学毕业生"/>
	<input class="span2" type="text" name="dxxx" value="$!{studentPingjiang.dxxx}" placeholder="党校学习"/>
	<button type="submit" class="btn"><i class="icon-search"></i>搜索</button>
	<!-- 新增按钮 -->
	<div class="btn-group pull-right">
		<a class="btn" onclick="XUI.window.open('/studentPingjiang/0',null,'PUT',{title:$(this).text()})"><i class="icon-pencil"></i>新增</a>
	</div>
</form>

<!-- 表格数据 -->
<table class="table table-striped table-bordered table-condensed grid">
	<thead>
		<tr>
			<!--<th #sorting($!{studentPingjiang} "id")>id</th>
			<th #sorting($!{studentPingjiang} "studentId")>学生编号</th>-->
			
			<th #sorting($!{studentPingjiang} "xuehao")>学号</th>
			<th #sorting($!{studentPingjiang} "name")>姓名</th>
			<th #sorting($!{studentPingjiang} "xueqi")>学期</th>
			<th #sorting($!{studentPingjiang} "banji")>班级</th>
			<th #sorting($!{studentPingjiang} "jiangxuejin")>奖学金</th>
			<th #sorting($!{studentPingjiang} "danxiangjiangxuejin")>单项奖学金</th>
			<th #sorting($!{studentPingjiang} "xueyou")>学优</th>
			<th #sorting($!{studentPingjiang} "tuanyou")>团优</th>
			<th #sorting($!{studentPingjiang} "yxdxbys")>优秀大学毕业生</th>
			<th #sorting($!{studentPingjiang} "dxxx")>党校学习</th>
			<!--<th #sorting($!{studentPingjiang} "updateTime")>更新时间</th>-->
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
#foreach(${item} in ${page.result})
		<tr>
			<!--<td>$!{item.id}</td>
			<td>$!{item.studentId}</td>-->
			
			<td>$!{item.xuehao}</td>
			<td>$!{item.name}</td>
			<td>$!{item.xueqi}</td>
			<td>$!{item.banji}</td>
			<td>$!{item.jiangxuejin}</td>
			<td>$!{item.danxiangjiangxuejin}</td>
			<td>$!{item.xueyou}</td>
			<td>$!{item.tuanyou}</td>
			<td>$!{item.yxdxbys}</td>
			<td>$!{item.dxxx}</td>
			<!--<td>$!{item.updateTime}</td>-->
			<td class="textC">
				<div class="btn-group">
					<a class="btn btn-mini" onclick="XUI.ajax.delete('/studentPingjiang/${item.id}',null,{refresh:true})"><i class="icon-trash"></i> 删除</a>
					<a class="btn btn-mini" onclick="XUI.window.open('/studentPingjiang/${item.id}',null,'PUT',{title:$(this).text()})"><i class="icon-pencil"></i> 修改</a>
					<a class="btn btn-mini" onclick="XUI.window.open('/studentPingjiang/${item.id}',null,'GET',{title:$(this).text()})"><i class="icon-eye-open"></i> 查看</a>
				</div>
			</td>
		</tr>
#end
	</tbody>
</table>
<!-- 分页栏 -->
#showPage($!{page})