<form name="studentQitahuojiangUpdateForm" action="/studentQitahuojiang/save" method="POST" data-resultType="JSON">
	<table class="table table-bordered table-striped formLayout m0">
		<tr>
			<td><input type="hidden" name="id" value="$!{studentQitahuojiang.id}" placeholder="id" readonly/></td>
			<td><input type="hidden" name="studentId" value="$!{studentQitahuojiang.studentId}" placeholder="学生编号"/></td>
		</tr>
		<tr>
			<td>学号:</td>
			<td><input type="text" name="xuehao" value="$!{studentQitahuojiang.xuehao}" placeholder="学号"/></td>
			<td>姓名:</td>
			<td><input type="text" name="name" value="$!{studentQitahuojiang.name}" placeholder="姓名"/></td>
		</tr>
		<tr>
			<td>获奖时间:</td>
			<td><input type="text" name="xueqi" value="$!{studentQitahuojiang.xueqi}" placeholder="获奖时间"/></td>
			<td>获奖信息:</td>
			<td><input type="text" maxlength="10" name="otherhuojianginfo" value="$!{studentQitahuojiang.otherhuojianginfo}" placeholder="获奖信息"/></td>
		</tr>
	</table>
</form>
<div class="bottomBar">
	<button class="btn btn-primary" onclick="$('form[name=studentQitahuojiangUpdateForm]').submit()">保存更改</button>
</div>