<table class="table table-bordered table-striped formLayout m0">
	<tr>
		<td>学号:</td>
		<td>$!{studentQitahuojiang.xuehao}</td>
		<td>姓名:</td>
		<td>$!{studentQitahuojiang.name}</td>
	</tr>
	<tr>
		<td>获奖时间（学期）:</td>
		<td>$!{studentQitahuojiang.xueqi}</td>
		<td>获奖信息:</td>
		<td>$!{studentQitahuojiang.otherhuojianginfo}</td>
	</tr>
	<!--<tr>
		<td>更新时间:</td>
		<td colspan="3">$!{studentQitahuojiang.updateTime}</td>
	</tr>-->
</table>
