<form class="form-upload" id="backupForm" name="backupForm" action="/jdbc/backup" method="GET">
    <hr style="height:1px;border:none;border-top:1px dashed #0066CC;"/>
    <table>
        <tr>
            <td>
                <div>
                    <h4 style="color:blue;">下载导入模板</h4>
                    <button type="button" class="btn btn-default" onclick="downloadZip();">下载模板</button>
                </div>

            </td>

        </tr>
    </table>
</form>
<script>
    function downloadZip() {

        document.location.href = '/images/导入模板.zip';
    }
</script>

<hr style="height:1px;border:none;border-top:1px dashed #0066CC;"/>
<form class="form-upload" id="studentUploadForm" name="studentUploadForm" action="/upload" method="POST"
      enctype="multipart/form-data">
    <h4 style="color:blue;">导入Excel数据</h4>
    <font size="3" color="red">&nbsp;&nbsp;&nbsp;&nbsp;目前仅支持xls格式文件导入</font>
    <table>
        <tr>
            <td>
                <div>
                    <select name="type">
                        <option value="BASIC_INFO">学生基本信息</option>
                        <option value="CHENGJI">学期成绩信息</option>
                        <option value="PINGJIANG">评优评奖信息</option>
                        <option value="XUEYE">学业状况信息</option>
                        <option value="ZIZHU">资助情况信息</option>
                    </select>
                </div>

            </td>

            <td>
                <div>
                    <input type="file" id="file" name="filename" multiple="multiple">
                </div>
            </td>

        </tr>
        <tr>
            <td>
                <div>
                    <button type="button" class="btn btn-default" onclick="doUpload();">提交</button>
                </div>
            </td>
        </tr>
    </table>


</form>
<hr style="height:1px;border:none;border-top:1px dashed #0066CC;"/>
<script>
    function doUpload() {
        var formData = new FormData($("#studentUploadForm")[0]);
        $.ajax({
            url: '/upload',
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                if (null != data) {
                    if (data.code == 'success') {
                        alert(data.result);
                        XUI.gotoPage('/studentBasicInfo');
                    }
                    if (data.code == "fail") {
                        alert(data.result);
                    }
                }
            },
            error: function (err) {
                alert("系统错误");
            }
        });
    }
</script>