<form class="form-upload" id="studentUploadForm" name="studentUploadForm" action="/upload" method="POST"
      enctype="multipart/form-data">
    <table>
        <tr>
            <td>
                <div>
                    <select name="type">
                        <option value="BASIC_INFO">学生基本信息</option>
                        <option value="CHENGJI">学期成绩信息</option>
                        <option value="PINGJIANG">评优评奖信息</option>
                        <option value="XUEYE">学业状况信息</option>
                        <option value="ZIZHU">资助情况信息</option>
                    </select>
                </div>

            </td>

            <td>
                <div>
                    <input type="file" id="file" name="filename" multiple="multiple">
                </div>
            </td>

        </tr>
        <tr>
            <td>
                <div>
                    <button type="button" class="btn btn-default" onclick="doUpload();">提交</button>
                </div>
            </td>
        </tr>
    </table>


</form>

<script>
    function doUpload() {
        var formData = new FormData($("#studentUploadForm")[0]);
        $.ajax({
            url: '/upload',
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                if ("ok" == data) {
                    alert("导入成功!")
                    XUI.gotoPage('/studentBasicInfo')
                }
            },
            error: function (returndata) {
            }
        });
    }
</script>