<table class="table table-bordered table-striped formLayout m0">
	<tr>
		<td>id:</td>
		<td>$!{studentBasicInfo.id}</td>
		<td>学号:</td>
		<td>$!{studentBasicInfo.xuehao}</td>
	</tr>
	<tr>
		<td>姓名:</td>
		<td>$!{studentBasicInfo.name}</td>
		<td>民族:</td>
		<td>$!{studentBasicInfo.minzu}</td>
	</tr>
	<tr>
		<td>政治面貌:</td>
		<td>$!{studentBasicInfo.zhengzhi}</td>
		<td>身份证号:</td>
		<td>$!{studentBasicInfo.idNumber}</td>
	</tr>
	<tr>
		<td>籍贯:</td>
		<td>$!{studentBasicInfo.jiguan}</td>
		<td>学院:</td>
		<td>$!{studentBasicInfo.xueyuan}</td>
	</tr>
	<tr>
		<td>专业:</td>
		<td>$!{studentBasicInfo.zhuanye}</td>
		<td>录取批次:</td>
		<td>$!{studentBasicInfo.luqupici}</td>
	</tr>
	<tr>
		<td>班级:</td>
		<td>$!{studentBasicInfo.banji}</td>
		<td>校区:</td>
		<td>$!{studentBasicInfo.xiaoqu}</td>
	</tr>
	<tr>
		<td>公寓:</td>
		<td>$!{studentBasicInfo.gongyu}</td>
		<td>寝室号:</td>
		<td>$!{studentBasicInfo.qinshihao}</td>
	</tr>
	<tr>
		<td>家庭地址:</td>
		<td>$!{studentBasicInfo.address}</td>
		<td>手机号码:</td>
		<td>$!{studentBasicInfo.phone}</td>
	</tr>
	<tr>
		<td>QQ:</td>
		<td>$!{studentBasicInfo.qq}</td>
		<td>家长1:</td>
		<td>$!{studentBasicInfo.jiazhang1}</td>
	</tr>
	<tr>
		<td>家长1电话:</td>
		<td>$!{studentBasicInfo.jiazhang1Phone}</td>
		<td>家长2:</td>
		<td>$!{studentBasicInfo.jiazhang2}</td>
	</tr>
	<!--
	<tr>
		<td>家长2电话:</td>
		<td>$!{studentBasicInfo.jiazhang2Phone}</td>
		<td>更新时间:</td>
		<td>$!{studentBasicInfo.updateTime}</td>
	</tr> -->
	<tr>
		<td>年级:</td>
		<td>$!{studentBasicInfo.nianji}</td>
		<td>性别:</td>
		<td>$!{studentBasicInfo.sex}</td>
	</tr>
</table>
